body {

  background-image: url("https://cdna.artstation.com/p/assets/images/images/056/271/808/large/favorisxp-foiwnmlxway769s.jpg?1668845562");

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
img{
    width: 1000px;
    height: 1000px;
}

h1{
    color: floralwhite;
    text-shadow: 0 0  10px black;, 0 0 5px;
}
h2{
    color: floralwhite;
    text-shadow: 0 0  10px black, 0 0 5px;
}

li{
    color: floralwhite;
}

p{
    color: black;
}

.container {
    background-color: dimgrey;
    max-width: 490px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 200px;
    height: 200px;
    
    margin-right: 20px;
}

.bio p {
    line-height: 1.6;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px ;
}